MONGO_IMAGE_TAG=8.0.20
MONGOS_PORT=27030
MONGO_ROOT_USERNAME=admin
MONGO_ROOT_PASSWORD=admin123
MONGO_APP_DB=statsbomb
MONGO_APP_USERNAME=statsbomb_user
MONGO_APP_PASSWORD=statsbomb_pass123
MONGO_IMAGE_TAG=8.0.20
MONGOS_PORT=27030
MONGO_ROOT_USERNAME=admin
MONGO_ROOT_PASSWORD=admin123
MONGO_APP_DB=statsbomb
MONGO_APP_USERNAME=statsbomb_user
MONGO_APP_PASSWORD=statsbomb_pass123
